@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

#start {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#start p{
    color:white;
    white-space: pre;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
}