@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

* {
    color:white;
    font-family: "Roboto Mono", monospace;
}

#start {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: height 1000ms, top 500ms;
    z-index: 500;
    /* z-index: -1; */
    position: absolute;
    background-color: black;
    border-bottom: gray 1px solid;
    top:0;
}

footer {
    position: fixed;
    background-color: black;
    z-index: 499;
    border-top: gray 1px solid;
    bottom:0;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
}

#start.active{
    height:20%;
}

#start.hide {
    top: -25%;
}

#start-text-div {
    width:500px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: background-color 1000ms, width 300ms, height 300ms;
}

#start-text-div.active {
    background-color: rgb(20,20,20);
}

#start-text-div.active:hover {
    height: 120px;
    width: 520px;
    cursor: pointer;
}

#start p{
    color:white;
    white-space: pre;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
}

#next {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#next::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#next #long {
    height: calc(100% + 20px);
    width: 10px;
    position: absolute;
}

#next div:not(.content) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1000ms, width 500ms, height 500ms, background-color 1000ms, opacity 1000ms;
}

#next div:not(#long, .content){
    background-color: rgb(20,20,20);
    width: 400px;
    border-radius: 20px;
    height: 100px;
    border: 1px solid rgb(30,30,30);
    overflow: hidden;
}

#next div:not(#long,.content, .active):hover{
    cursor: pointer;
    width: 420px;
}

#next div.active {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    background-color: black !important;
    z-index: 1000;
}

#next.hide div:not(.active){
    opacity: 0;
}

@keyframes label_blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#next div .label {
    font-size: 30px;
    transition: top 500ms;
    animation: label_blink 1.5s;
    display: none;
}

.fake-label {
    top: 0;
    position: fixed;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#next div.active .label {
    top: 0;
    position: absolute; 
    animation: none;
}

.close {
    visibility: hidden;
    position:absolute
}

#next div.active .close {
    top: 10px;
    left: 10px;
    position: fixed;
    visibility: visible;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 2000;
}

#next div .content{
    position: absolute;
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 500ms, border-top 1000ms;
    border-top: none;
    width: 100vw !important;
    text-align: center;
    top: 100px;
    height: calc(100% - 100px);
    overflow-y: scroll;
    scrollbar-color: #ccc #1c1c1c;
    scrollbar-width: thin;
}

#next div:not(.active) .content {
    pointer-events: none;
}

.content p, .content h1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: calc(100% - 40px);
    text-align: left;
}

.content p {
    font-weight: 250;
    text-wrap: pretty;
}

.content hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    /* margin: 1em 0; */
    margin: 0 auto;
    width: calc(100% - 30px);
}

#next div.active .content {
    visibility: visible;
    opacity: 1;
    z-index: 5000;
    border-top: 1px solid #ccc;
}

.pos1 {
    top:30%;
}

.pos2 {
    top: 50%;
}

.pos3 {
    top: 70%;
}

.pos4 {
    top: 100%;
}

.pos5 {
    top: 0%;
}

.notransition {
    transition: left 1000ms !important;
}

#next.hide .notransition {
    left: -200%;
}

#nav {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 1;
}

#nav button {
    background-color: black;
    border-radius: 40%;
    border: 1px solid white;
    font-size: 25px;
    width: 40px;
    height: 40px;
    padding:0;
}