@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

#start {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: height 500ms;
}

#start.active{
    height:20%;
}

#start-text-div {
    width:500px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: background-color 1000ms, width 300ms, height 300ms;
}

#start-text-div.active {
    background-color: rgb(20,20,20);
}

#start-text-div.active:hover {
    height: 120px;
    width: 520px;
    cursor: pointer;
}

#start p{
    color:white;
    white-space: pre;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
}