@font-face {
    font-family: 'Mona Sans';
    src:
        url('Mona-Sans.woff2') format('woff2 supports variations'),
        url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

html {
    font-family: 'Mona Sans';
}

body {
    overflow-x:hidden;
    top:0;
    padding: 1px !important;
    margin: 0px !important; 
}

#header {
    /* width: 100vw; */
    height: fit-content;
    border: 1px solid white;
    border-bottom: 4px solid black;
    text-align: center;
    /* margin: 10px; */
    /* background-color: lightblue; */
    top:0;
    z-index: 10;
}

hr {
    border:none;
    border-bottom: 1px black solid;
}

#header h1 {
    font-size:100px;
    font-stretch: 200%;
    letter-spacing: 1vw;
}

#navbar {
    display: flex;
    justify-content: center;
    column-gap: 10vw;
}

#navbar a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(90, 93, 147);
    transition: color 300ms, box-shadow 300ms;
}

#navbar:hover a{
    color: rgb(0, 4, 115);
}

#navbar a:hover {

    color: rgb(161, 166, 255);
    /* box-shadow: -3px -2px 25px 9px rgba(161,166,255,0.86); */
}

/* #navbar a */

#content * {
    transition: opacity 250ms;
}

#content {
    transition: background-color 250ms;
    /* background-color:green; */
    margin-left: 10px;
}

#transition {
    background: rgb(218, 218, 218);
    width:10px;
    height:10px;
    position:absolute;
    top:0;
    transition: transform 250ms;
    border-top: 2px solid black;
}

.before {
    transform:translateX(-100vw);
}

.during {
    transform:translateX(0);
}

.after {
    transform:translateX(100vw);
}

.notransition {
    transition: none !important;
}